.wrapperTask {
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 2rem;

  .taskInput {
    height: 2.5rem;
    width: 2.5rem;
  }

  .title {
    flex: 1 1 50%;
    font-size: var(--font-size-l);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &.checkedTask {
      text-decoration: line-through;
    }
  }

  .taskButton {
    background-color: var(--color-btn-remove);
    height: 3rem;
    width: 3rem;
    color: var(--color-text-white-tr75);
    font-size: var(--font-size-xl);
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}