.headerContainer {
  width: 100%;
  background-color: var(--color-violet-7);
  color: var(--color-text-white);
  position: relative;

  .progressBar {
    position: absolute;
    bottom: -10px;
    left: 0;
  }

  .headerWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 2rem;

    .logInfo {
      font-size: var(--font-size-xxl);
      color: var(--color-text-white);
    }
  }
}